@import "styles/variables";
@import "styles/breakpoints";

.cardContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    
    @media (min-width: $mobile) {
        flex-direction: row;
    }
}