@import "./styles/_variables.scss";
@import "./styles/_breakpoints.scss";
@import "./styles/normalize.css";


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCFCFC;
  margin: 0;
}

#root > main.container {
  display: flex;
  flex-direction: column;
}